.box {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  & h2 {
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.4rem;
    background-color: hsl(190, 50%, 8%);
    color: hsl(190, 50%, 40%);
  }
  & .section {
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex: auto;
    min-height: 100px;
    & h1 {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}
